<app-header></app-header>
<div style="padding-top: 70px; padding-bottom:70px">

    <div *ngFor="let poo of pokemon" class="container" id="images">
        <div id="child">
            <img [src]="poo.imageurl" style="width: 400px; height: 300px;">
            <h3 id="bottomRight" ><span style="position:absolute;top: 30px;padding-left: 15px;padding-right: 15px;background-color: black;color: aliceblue;opacity: 0.75;">{{poo.destination}}</span></h3>
        </div>
    </div>
</div>
    <div class="backgroundVideo">
    <video autoplay loop>
        <source src="../assets/v.mp4" type="video/mp4">
    </video>
</div>
<app-footer></app-footer>