
#contentOfTheSite{
    position: relative;
    z-index: 1;
}

.theAddForm{
    z-index: 1;
    position: relative;
}
.theAddForm1{
    z-index: 1;
    position: relative;
}
#theCards{
    float: left;
    margin: auto;
    padding: 5px;
}
#theParentCard{
    padding-left: 25px;
}
.backgroundVideo{
    position:absolute;
    right:0;
    top: 0;
    min-width:100%;
    min-height:200%;
    filter:blur(10px);
    object-fit: fill;
}
.navigationBar{
    position:fixed;
    z-index: 2;
    min-width:100%;
}
#content{
    position: relative;
    z-index: 1;
}
#TravelTagOnSite{
    width: 25px;
    margin: auto;
}
.theAddForm{
    z-index: 1;
    position: relative;
}
.theAddForm1{
    z-index: 1;
    position: relative;
}
#theCards{
    float: left;
    margin: auto;
    padding: 5px;
}
#theParentCard{
    padding-left: 25px;
}
#footer{
    bottom:0;
    min-width:100%;
    position:fixed;
    color:black;
    background-color: cadetblue;
    text-align:center;
    z-index:2;
}
#loginAccount{
    border: 3px solid #fff;
    text-align: center;
    font-family: cursive;
    width:100%;
    border-top: none;
    border-bottom: none;
}
#theLoginPage{
    z-index: 1;
    position :relative;
    background : none;
    padding-top: 200px;
    text-align: center;
}

#theLink{
    padding-left: 650px;
}
#password,#email{
    text-align: center;
}
#thePackageButton{
    z-index: 1;
    padding-top: 50px;
    position: relative;
}
#theModalButton{
    z-index: 1;
    position:relative;
    text-align: center;
}
.form-group{
    padding: 10px;
    font-family: cursive;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: cursive;
}