

.backgroundVideo{
    position:absolute;
    right:0;
    top: 0;
    min-width:100%;
    filter:blur(10px)
}
#images{
    z-index: 1;
    position:relative;
}
#child{
    float:left;
    padding:10px;
}