<app-header></app-header>
<div class="container" id="contentOfTheSite" >
    <h1 style="text-align:center; padding-top: 70px; z-index: 1;position:relative">Reviews</h1>
    <h3 style="text-align:center; z-index: 1; position: relative; color:dimgray">Written by our happy users</h3>
    <section>
        <div *ngFor="let rew of reviews" id="theParentCard" style=" z-index: 1;margin: 10px; float:left">
            <div class="card" id="theCards" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">{{rew.nameOfReviwer}}</h2>
                    <hr>
                    <p class="card-text"> I went to {{rew.destination}}</p>
                    <p class="card-text">{{rew.experience}}</p>
                    <p class="card-text">{{rew.contactNumber}}</p>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
<div id="backgroundImage">
</div>
<section style="text-align:center; position:fixed; bottom:90px; width:100%">
    <button type="button" class="btn btn-secondary" (click)="openAndCloseModal('open')" data-target="#writeReview" data-toggle="modal">Write Review</button>
</section>
<div class="modal" role="dialog" id="writeReview" tabindex="-1" aria-labelledby="writeReviewLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="display:block">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="writeReviewHead">Write A review</h1>
            </div>
            <div class="modal-body">
                <form #reviewForm="ngForm" (ngSubmit)="writeReview(reviewForm)">
                    <div class="form-group">
                        <label for="name">Name :</label>
                        <input ngModel class="form-control" placeholder="Your Good Name"
                            name="nameOfReviwer" style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                        <label for="contactNumber">Contact : </label>
                        <input ngModel class="form-control" placeholder="Mobile number" name="contactNumber"
                            style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                        <label for="description" >Where did you went : </label>
                        <input ngModel class="form-control" placeholder="Destination" name="destination"
                            style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                        <label for="experience">Experience : </label>
                        <input ngModel class="form-control" placeholder="Share your experience"
                            name="experience" style="text-align:center;" required>
                    </div>
                    <br>
                <button type="submit" class="btn btn-secondary" [disabled]="reviewForm.invalid">Done</button>
                <button type="button" id="closeButtonOfReview" class="btn btn-outline-danger"
                    (click)="openAndCloseModal('close')">Close</button>

            </form>
        </div>
            </div>
        </div>
    </div>