<app-header></app-header>
    <div class="container" id="contentOfTheSite" style="padding-top:70px; padding-bottom:70px;">
        <h1 style="text-align:center;">Packages</h1>
        <h3 style="text-align:center;">Affordable and at the cheapest rates available</h3>
        <section>
            <div *ngFor="let pack of packages;index as i" id="theParentCard" style="padding-top:10px; padding-bottom: 70px;">
                <div class="card" id="theCards" style="padding-top:10px;margin: 10px;">
                    <img [src]="pack.imageurl" class="card-img-top" alt="Manali.jpg" style="max-height: 300px;max-width: 30%;">
                    <div class="card-body">
                        <h2 class="card-title" id="theDestination">This is {{pack.destination}}</h2>
                        <p class="card-text">Description : {{pack.description}}</p>
                        <p class="card-text">Cost per person : Rs.{{pack.costPerPerson}}</p>
                        <p class="card-text">This package is availabe at {{pack.organizer}} you can contact them by {{pack.contactNumber}} </p>
                        <p class="card-text">This is a {{pack.numberOfDays}} days tour</p>
                        <button class="btn btn-outline-primary" data-target="#updatePackage" data-toggle="modal"
                            (click)="openAndCloseModal(pack,'open','update')">Update</button>
                        <button class="btn btn-outline-danger" data-target="#updatePackage" data-toggle="modal"
                            (click)="openAndCloseDelete(i,'open')">Delete</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div style="padding-bottom: 80px;text-align: center;bottom:0;">
    <button style="z-index: 2; position:relative " class="btn btn-outline-secondary" type="button"
        data-target="#addPackage" data-toggle="modal" (click)="openAndCloseModal(null,'open','add')">Add
        Package</button>
    </div>


<div class="modal" role="dialog" id="addPackage" tabindex="-1" aria-labelledby="addPackageLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="addPackageHead">Add a New Package Here</h1>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddPackage(addForm)">
                    <div class="form-group">
                        <label for="name">Enter the Destination :</label>
                        <input ngModel class="form-control" placeholder="The Destination to be Visited"
                            name="destination" style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Enter contact numbetr :</label>
                        <input ngModel class="form-control" placeholder="Mobile Number"
                            name="contactNumber" style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Describe the destination : </label>
                        <input ngModel class="form-control" placeholder="Description" name="description"
                            style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                        <label for="password" >Cost Per Person : </label>
                        <input ngModel class="form-control" placeholder="Cost" name="costPerPerson"
                            style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Travel Agency : </label>
                        <input ngModel class="form-control" placeholder="Travel Agency helding the trip"
                            name="organizer" style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Number Of Days : </label>
                        <input ngModel class="form-control" placeholder="Eneter the number of days"
                            name="numberOfDays" style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                        <label for="password">ImageUrl : </label>
                        <input ngModel class="form-control" placeholder="ImageUrl" name="imageurl"
                            style="text-align:center;" required>
                    </div>
                    <br>
                <button type="submit" class="btn btn-secondary" [disabled]="addForm.invalid">Save the Package</button>
                <button type="button" id="closeButtonOfAddPackage" class="btn btn-outline-danger"
                    (click)="openAndCloseModal(null,'close','add')">Close</button>

            </form>
        </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>

<div class="modal" role="dialog" id="updatePackage" tabindex="-1" aria-labelledby="updatePackageLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="updatePackageHead">Update The package</h1>
            </div>
            <div class="modal-body">
                <form #updateForm="ngForm">
                    <div class="form-group">
                    <p>{{updatePackage?.packageId}}</p>
                    <input ngModel="{{updatePackage?.packageId}}" class="form-control" name="packageId"
                        style="text-align:center; display:none" required>
                    <label for="destination">Enter the Destination : </label>
                    <input ngModel="{{updatePackage?.destination}}" class="form-control" placeholder="update" name="destination" id="destination"
                        style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                    <label for="description">Description of the destination : </label>
                    <input ngModel="{{updatePackage?.description}}" class="form-control" placeholder="update" name="description" id="description"
                        style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                    <label for="costPerPerson" style="text-align:center">Cost Per Person : </label>
                    <input ngModel="{{updatePackage?.costPerPerson}}" class="form-control" placeholder="update" name="costPerPerson" id="costPerPerson"
                        style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                    <label for="organizer" style="text-align:center">Travel Agency : </label>
                    <input ngModel="{{updatePackage?.organizer}}" class="form-control" placeholder="update" name="organizer" id="organizer" style="text-align:center;"
                        required>
                    </div>
                    <div class="form-group">
                        <label for="numberOfDays" style="text-align:center">Number of Days : </label>
                        <input ngModel="{{updatePackage?.numberOfDays}}" class="form-control" placeholder="update" name="numberOfDays" id="numberOfDays"
                            style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                        <label for="contactNumber" style="text-align:center">Contact Number of the organizer : </label>
                        <input ngModel="{{updatePackage?.contactNumber}}" class="form-control" placeholder="update" name="contactNumber" id="contactNumber"
                            style="text-align:center;" required>
                    </div>
                    <div class="form-group">
                    <label for="imageurl" style="text-align:center">ImageUrl : </label>
                    <input ngModel="{{updatePackage?.imageurl}}" class="form-control" placeholder="update" name="imageurl" style="text-align:center;" id="imageurl"
                        required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onUpdatePackage(updateForm.value)">Save the Package</button>
                <button type="button" id="closeButtonOfUpdatePackage" class="btn btn-outline-danger"
                    (click)="openAndCloseModal(null,'close','update')">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" role="dialog" id="deletePackage" tabindex="-1" aria-labelledby="deletePackageLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="deletePackageHead">Delete Package</h1>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the package</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" (click)="onDeletePackage(deletepackageid)" >Yes</button>
                <button type="button" id="closeButtonOfDeletePackage" class="btn btn-outline-dark"
                    (click)="openAndCloseModal(null,'close','delete')">No</button>
            </div>
        </div>
    </div>
</div>
